<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sansheng.testcenter"
          android:versionCode="100000" android:versionName="1.0.0">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--定位所需要的权限-->
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <!--允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <uses-sdk
            android:minSdkVersion="17" android:targetSdkVersion="19"/>
    <application
            android:name="com.sansheng.testcenter.TestCenterApplication"
            android:hardwareAccelerated="true"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/UnifiedEmailTheme"
            >
        <!--设置Accesskey-->
        <meta-data
                android:name="com.baidu.lbsapi.API_KEY"
                android:value="wFtG3DzxxFRqinI8SRxy9lIy"/>
        <activity
                android:name=".launcher.LauncherActivity"
                android:label="@string/app_name"
                android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.sansheng.testcenter.demo.view.SocketDemo"
                  android:screenOrientation="sensorLandscape"
                  android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name=".view.TestBaseActivity"
                  android:screenOrientation="sensorLandscape"
                  android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name=".view.WhmActivity"
                  android:screenOrientation="sensorLandscape"
                  android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name=".datamanager.MeterDataListActivity"
                  android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name=".demo.view.MeterListActivity"
                  android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name="com.sansheng.testcenter.demo.view.CreateDBActivity"
                  android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name=".settings.SettingsActivity"
                  android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name=".center.CenterActivity"
                  android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name=".demo.view.CollectListActivity"
                  android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name=".location.ComposeLocationActivity"
                  android:screenOrientation="sensorLandscape">
        </activity>
        <activity android:name=".demo.view.LocationActivity"
                  android:screenOrientation="sensorLandscape">
        </activity>
        <activity android:name=".location.LocationInfoActivity"
                  android:screenOrientation="sensorLandscape">
        </activity>
        <activity android:name=".metertest.MeterTestActivity"
                  android:screenOrientation="sensorLandscape">
        </activity>
        <activity android:name=".collecttest.SelectCollectActivity"
                  android:screenOrientation="sensorLandscape">
        </activity>
        <activity android:name=".collecttest.CollectTestActivity"
                  android:screenOrientation="sensorLandscape">
        </activity>
        <provider
                android:name=".provider.EquipmentProvider"
                android:authorities="${applicationId}.provider.Equipment"
                android:exported="false">
            <grant-uri-permission android:pathPattern=".*"/>
        </provider>
        <service android:name=".server.MSocketServer" android:enabled="true"
                 android:exported="true"></service>
        <!--声明service组件,每个app拥有自己单独的定位service-->
        <service android:name="com.baidu.location.f"
                 android:enabled="true"
                 android:process=":remote"></service>  

    </application>

</manifest>
